body {
  margin: 0px;
  padding: 0px;
  /* width: 70%; */
  background-color:rgb(238, 238, 238);
}

.part1 {
  background-color: rgb(180, 180, 180);
  min-height: 200px;
  margin-top: -30px;
}

.nav hr {
  width: 80%;
  border: 1.5px solid black;
}
.nav{
  position: sticky;
  top: 0;
  background-color: rgb(249, 249, 249);
  /* background-color: white; */
}
.nav::-webkit-scrollbar{
  background-color: white;
}
nav {
  width: 80%;
  display: flex;
  margin: -10px auto;
  justify-content: space-between;
  
}
#logo a {
    text-decoration: none;
    color: royalblue;

}

#logo h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-top:10px;
    font-size: 30px;
    /* background-color: rgb(249, 249, 249); */
    color: rgb(11, 11, 13);
}

.anchors {
    margin-right: -90px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.anchorsubs {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.anchorsubs a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 5px;
}



/* main body starts here  */
#main{
  width: 90%;
  margin:30px auto;
  display: flex;
}
#main hr{
  margin-left: 0px;
}
.filters{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  left: 0;
  /* background-color: white; */
  /* border:1px solid red */
}
.filters hr{
  margin-top: 20px;
  min-width: 400px;
}
/* price filter  */
.pricefilter{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.pricefilter div{
  display: flex;
}
.pricefilter p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
}
.pricefilter div button{
  margin-top: -20px;
  height: 40px;
  width: 200px;
  margin-right: 20px;
  border: none;
  background-color: rgb(249, 249, 249);
  font-size: 22px;
  border-radius: 20px;
}
.pricefilter div button:hover{
  background-color: aliceblue;
  color: cornflowerblue;
}

.products{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

/* country filter starts here  */
.country{
  display: flex;
  flex-direction: column;
}
.country p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px; 
}
.country input{
  min-width: 400px;
  height: 40px;
  border: none;
  background-color: rgb(249, 249, 249);
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  align-self: center;
  margin-top: -10px;
}

.country input:hover{
  background-color: aliceblue;
  color: black;
}

.plan div{
  max-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.plan p{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.plan input{
  margin-top: -10px;
}
.plan div p{
  font-size: 16px;
  margin-top: -20px;
}
.plan button{
  margin-top: 10px;
  height: 40px;
  width: 200px;
  margin-right: 20px;
  border: none;
  background-color: rgb(249, 249, 249);
  font-size: 22px;
  border-radius: 20px;
}
.plan button:hover{
  background-color: aliceblue;
  color: cornflowerblue;
}





/* display dom part  */
.cardlist{
  display: flex;
  flex-direction: column;
}
.card{
  width: 90%;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.cardImg img{
  min-width: 299px;
  max-width: 350px;
  min-height: 230px;
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.cardImg img:hover{
  transform: scale3d(1.1, 1.1, 1);
}
.cardBody{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.location{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: 0px;
}
.country{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -18px;
}
.price{
  font-size: 20px;
  margin-left: 20px;
  margin-top: -10px;
}
.plan{
  font-size: 20px;
  margin-left: 20px;
  margin-top: -13px;
  margin-bottom: 25px;
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -15px;
  text-align: justify;
}

.booknow{
  height: 40px;
  width: 200px;
  margin-left: 30%;
  border: none;
  font-size: 22px;
  border-radius: 10px;
}
.booknow:hover{
  background-color: aliceblue;
}

.pagination{
  /* border: 2px red solid; */
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.pagination a{
  background-color: aliceblue;
  padding: 5px;
  text-decoration: none;
  color: red;
  border-radius: 5px;
  font-size: 28px;
}


#search{
  width: 400px;
  height: 40px;
  margin-left: 35%;
  text-align: center;
  border-radius: 30px;
  border: none;
  font-size: 24px;
}
.results{
  text-align: center;
  margin-bottom: -30px;
}









/* footer starts here  */
.part7 {
  background-color: rgb(249, 249, 249);
}

#footer {
  width: 70%;
  margin-top: 50px;
}

.seg1 {
  width: 100%;
  display: flex;
  margin: auto;
  margin-left: 350px;
  justify-content: space-between;
}

.seg1 hr {
  display: block;
}

.div1 {
  display: flex;
  margin-left: -100px;
}

.div1 h2 {
  font-size: 25px;
}

.social {
  margin-top: 40px;
  margin-left: 140px;
  font-size: 24px;
}

.social a {
  margin-right: 10px;
}

.div2 {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.div2 input {
  margin-top: 20px;
  margin-left: 50px;
  height: 35px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  width: 200px;
  background-color: white;
  color: black;
  padding: 10px;
}

.div2 h2 {
  font-size: 25px;
  margin-left: -150px;
}


/* seg2 starts here  */
.seg2 {
  width: 100%;
  display: flex;
  margin: auto;
  margin-left: 230px;
  justify-content: space-around;
}

.left4 {
  width: 25%;
}

.left4 h1 {
  font-family: 'Courier New', Courier, monospace;
}

.right4 {
  display: flex;
  /* margin-left: -100px; */
}

.right4 div {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
}

.seg2 a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

html,body {
  transition-duration: 1s;
}

  /* travelo logo on load  */
  #travelo {
    overflow: hidden;
  }
  
  #travelo span {
    display: inline-block;
    opacity: 0; 
    animation: reveal 3s ease forwards; 
  }
  
  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  